nav {
    text-align: center;
	width: 100%;
}
 
nav ul {
    margin: 0 ;
    padding: 0 ;
    font-size: 0;
}
 
nav ul li{
    list-style: none;
    display: inline-block;
    width: 10%; /* ここで項目の幅を指定します */
    background-color: #333; /* 背景色を指定します */
    font-size: 16px;
}
 
nav ul li a {
    text-decoration: none;
    color: #fff; /* 文字色を指定します */
}
 
nav li:hover{
    opacity: 0.8; /* hover時の不透明度を調整します */
}



